{% extends 'app/main.html' %}
{% block content %}
              <h1><u>Welcome Student Data Management System</u></h1>
              <div class="grid-stren">
                <div><strong>Strength Of The School:</strong> {{ num }}</div>
                <div><strong>Strength Of Class 1:</strong> {{ n1 }}</div>
                <div><strong>Strength Of Class 2:</strong> {{ n2 }}</div>
                <div><strong>Strength Of Class 3:</strong> {{ n3 }}</div>
                <div><strong>Strength Of Class 4:</strong> {{ n4 }}</div>
                <div><strong>Strength Of Class 5:</strong> {{ n5 }}</div>
                <div><strong>Strength Of Class 6:</strong> {{ n6 }}</div>
                <div><strong>Strength Of Class 7:</strong> {{ n7}}</div>
                <div><strong>Strength Of Class 8:</strong> {{ n8 }}</div>
                <div><strong>Strength Of Class 9:</strong> {{ n9 }}</div>
                <div><strong>Strength Of Class 10:</strong> {{ n10 }}</div>
               
                
              </div>
              {% endblock content %}
